<div class="booking-container">
  <h2 class="title">Book a Meeting Room</h2>
    <button class="btn-back" (click)="goBack()">Back to Dashboard</button>

  <form [formGroup]="bookingForm" (ngSubmit)="bookMeeting()">

    <div class="form-group">
      <label for="roomID">Choose Room</label>
      <select formControlName="roomID" id="roomID">
        <option *ngFor="let room of rooms" [value]="room.id">
          {{ room.name }} - {{ room.location }} ({{ room.capacity }} ppl)
        </option>
      </select>
    </div>


    <div class="form-group">
      <label for="startTime">Start Time</label>
      <input type="datetime-local" id="startTime" formControlName="startTime" />
    </div>


    <div class="form-group">
      <label for="durationMinutes">Duration (minutes)</label>
      <input type="number" id="durationMinutes" formControlName="durationMinutes" />
    </div>


    <div class="form-group">
      <label for="status">Status</label>
      <select formControlName="status" id="status">
        <option value="Pending">Pending</option>
        <option value="Confirmed">Confirmed</option>
      </select>
    </div>


    <button class="btn-primary" type="submit" [disabled]="bookingForm.invalid">
      Book Now
    </button>


    <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </form>
</div>
